.popup {
	position: absolute;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: 70%;
	padding: 100px;
	font-weight: bold;
}
@media only screen and (max-width: 768px) {
	/* adjust values as needed */
	.popup {
		width: 90%;
		height: 50%;
		top: 25%;
		left: 5%;
		padding: 30px;
		/* adjust positioning as needed */
	}
}
