.logo {
	width: 100px;
}

/* Booking confirmation icons */
.b-icon {
	font-size: 80px;
}

/* custom colors */
.text-yellow {
	color: #eed202 !important;
}
.bg-yellow {
	color: #eed202 !important;
}

.text-blue {
	color: #0945A0 !important;
}
.bg-blue {
	background: #0945A0 !important;
}