@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
	font-family: "Roboto", sans-serif !important;
}

.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.video-testimonial {
	height: 500px;
	margin: 50px auto;
}

#video-widget-card {
	height: 466.688px;
}

/* Booking confirmation icons */
.b-icon {
	font-size: 80px;
}

/* Default font-size styling */
h1,
.h-1 {
	font-size: 48px !important;
}

h2,
.h-2 {
	font-size: 28px !important;
}

.p-size {
	font-size: 20px !important;
}
