@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

#testimonial-cards {
	height: 1500px;
	margin: 0 0 50px 0;
}

#testimonial-cards-header {
	padding: 40px 10px;
	border: none;
}

#testimonial-cards-title {
	font-size: 48px;
	font-family: "Roboto", sans-serif;
}

.ImageOverlay {
	display: flex;	
  	position: relative;
  	text-align: center;
  	color:#eed202;
}

.card-image1 {
	position: absolute;
	object-fit: cover;
 	height: 100%;
 	width: auto;
	top: 0px;
  	left: 0px
	
}

.title {	
  	z-index: 1;
}

.title-para {
	z-index: 1;
}

/* .age-span {
	color: whitesmoke;
} */

@media screen and (min-width: 576px) {
	#testimonial-cards {
		height: 750px;
		margin: 0 0 50px 0;
	}
}
