.main-footer {
	background-color: rgb(52, 58, 64);
	color: aliceblue;
	padding: 20px;
}
/* main container */

.footer-bottom {
	border-top: 1px solid aliceblue;
	padding: 4px;
}
a:href {
	color: aliceblue;
}
