@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&display=swap");

h3 {
    color: "#209FDA";
	text-align: center;
	font-size: 48px;
	text-shadow: -4px 2px 5px rgba(0, 0, 0, 0.62);
}

.carousel-item::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.7;
}

.carousel-caption {
	bottom: 150px;
	padding-left: 100px;
	padding-right: 100px;
}

.carousel-caption p {
	font-size: 28px;
	font-family: "Roboto Flex";
	text-shadow: -5px 3px 6px rgba(0, 0, 0, 0.62);
}

.carousel-caption a {
	background-color: #209fda;
	color: black;
	border-radius: 0;
	padding: 10px 30px 10px 30px;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.42);
	text-shadow: -3px 3px 6px rgba(0, 0, 0, 0.52);
	font-family: "Roboto Flex";
	border: 0;
}
