#testimonial-widget {
	border-radius: 0 !important;
	border: none !important;
	height: 100% !important;
	background: #000;
}

.card-img {
	border: none !important;
	border-radius: 0 !important;
	height: 100%;

}




